div{
	margin: 0 auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: '微软雅黑';
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}

#wrap{
	width: 100%;
	height: 100%;
	overfl ow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}
#wrap li{
	position: absolute;
	height: 100%;
	width: 100%;
}

#wrap_one{
	background: url(../img/1.jpg) no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
#logo{
	width: 121px;
	height: 125px;
	background: url(../img/logo.png) no-repeat;
	position: relative;
	top: 30px;
	-webkit-background-size:cover;
	background-size:cover;
}
#text1{
	margin-left: 0;
	margin-right: 40%;
	margin-top: 40px;
	background-color: #099082;
	opacity: 0.8;
	height: 55px;
	filter: alpha(opacity=80);
	border-radius: 0px 5px 5px 0px;
}
#text1 p{
	float: right;
	margin-top: 0;
	margin-right: 20px;
	font-size: 35px;
	line-height: 55px;
	font-weight: lighter;
	color: #fff;
}
#text2{
	margin-left: 40%;
	margin-right: 0;
	margin-top: 30px;
	background-color: #E95812;
	height: 55px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	border-radius: 5px 0px 0px 5px;
}
#text2 p{
	float: left;
	margin-top: 0;
	margin-left: 20px;
	font-size: 35px;
	line-height: 55px;
	font-weight: lighter;
	color: #fff;
}
#download{
	width: 179px;
	height: 55px;
	padding-left: 40px;
	position: absolute;
	display: block;
	text-decoration: none;
	left: 50%;
	bottom: 13%;
	margin-left: -109px;
	background-color: #219B8E;
	border-radius: 5px;
}
#download i{
	float: left;
	display: block;
	width: 20px;
	height: 25px;
	margin-top: 14px;
	background: url(../img/android.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#download p{
	float: left;
	margin: 0 10px;
	line-height: 55px;
	margin-left: 20px;
	font-size: 18px;
	color: #fff;
}