div{
	margin: 0 auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: '微软雅黑';
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hi dden;
	margin: 0;
	padding: 0;
	position: relative;
}

#wrap{
	width: 100%;
	height: 100%;
	overfl ow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}
#wrap li{
	/* position: absolute; */
	height: 100%;
	width: 100%;
}

#wrap_one{
	background: url(../img/1.jpg) no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
#logo{
	width: 121px;
	height: 125px;
	background: url(../img/logo.png) no-repeat;
	position: relative;
	top: 30px;
	-webkit-background-size:cover;
	background-size:cover;
}
#text1{
	margin-left: 0;
	margin-right: 40%;
	margin-top: 40px;
	background-color: #099082;
	opacity: 0.8;
	height: 55px;
	filter: alpha(opacity=80);
	border-radius: 0px 5px 5px 0px;
}
#text1 p{
	float: right;
	margin-top: 0;
	margin-right: 20px;
	font-size: 35px;
	line-height: 55px;
	font-weight: lighter;
	color: #fff;
}
#text2{
	margin-left: 40%;
	margin-right: 0;
	margin-top: 30px;
	background-color: #E95812;
	height: 55px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	border-radius: 5px 0px 0px 5px;
}
#text2 p{
	float: left;
	margin-top: 0;
	margin-left: 20px;
	font-size: 35px;
	line-height: 55px;
	font-weight: lighter;
	color: #fff;
}
#download{
	width: 179px;
	height: 55px;
	padding-left: 40px;
	position: absolute;
	display: block;
	text-decoration: none;
	left: 50%;
	bottom: 13%;
	margin-left: -109px;
	background-color: #219B8E;
	border-radius: 5px;
}
#download i{
	float: left;
	display: block;
	width: 20px;
	height: 25px;
	margin-top: 14px;
	background: url(../img/android.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#download p{
	float: left;
	margin: 0 10px;
	line-height: 55px;
	margin-left: 20px;
	font-size: 18px;
	color: #fff;
}
.next{
	width: 50px;
	height: 21px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	bottom: 4%;
	background: url(../img/next1.png) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
}
#wrap_two{
	background: url(../img/2.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover; 
	position: absolute;
}
#img3{
	width: 180px;
	height: 174px;
	position: absolute;
	right: 4%;
	top: 2%;
	background: url(../img/pic2.png) no-repeat;/*356 343*/
	-webkit-background-size: cover;
	background-size: cover;
}
#wrap_three{
	background: url(../img/3.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover; 
	position: absolute;
}
#img4{
	width: 200px;
	height: 353px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -177px;
	margin-left: -100px;
	background: url(../img/pic3.png) no-repeat; /*468 826*/
	-webkit-background-size: cover;
	background-size: cover; 
}
#img5{
	width: 130px;
	height: 152px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -65px;
	margin-top: -76px;
	background: url(../img/text.png) no-repeat;/*268 313*/
	-webkit-background-size: cover;
	background-size: cover; 
}
#wrap_four{
	background: url(../img/4.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
		position: absolute; 
}
#text6{
	width: 100%;
	height: 105px;
	position: absolute;
	top: 40%;
	background: #009788;
	font-size: 16px;
	font-weight:lighter;
	color: #fff;
	text-align: center;
}
#text6 strong{
	font-size: 32px;
	font-weight: lighter;
	line-height: 50px;
}
#download_bottom{
	width: 66%;
	height: 48px;
	position: absolute;
	display: block;
	text-decoration: none;
	left: 50%;
	margin-left: -33%;
	bottom: 15%;
	background: #DF6945;
	-webkit-animation: shake 4s  both infinite;
	animation: shake 4s  both infinite;

}
#download_bottom i{
	float: left;
	display: block;
	width: 17px;
	height: 22px;
	margin-top: 12px;
	margin-left: 30px;
	background: url(../img/android.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
#download_bottom span{
	line-height: 48px;
	margin-left: 10px;
	font-size: 18px;
	color: #fff;
}
#mask{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: grey;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#tip{
	width: 100%;
}
@-webkit-keyframes shake { /* 恐龙蛋震动 */
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  1.25%, 2.5% {
    -webkit-transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
            transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
  }

  3.75%, 6.25%, 8.75%, 11.25% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 1deg);
            transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 1deg);
  }

  5%, 7.5%, 10% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -1deg);
            transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -1deg);
  }

  12.5% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  1.25%, 2.5% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  3.75%, 6.25%, 8.75%, 11.25% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, 3deg);
  }

  5%, 7.5%, 10% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.02, 1.02, 1.02) rotate3d(0, 0, 1, -3deg);
  }

  12.5% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}